!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %title Pendaxes report - #{pendings.size} pendings are waiting to be fixed
  %body
    .container{style: 'font-family: sans-serif; color: #3C3C3C;'}
      %h1 #{pendings.size} pendings are waiting to be fixed
      - if config.report_url
        %p
          %strong Full Report:
          %a{href: config.report_url}&= config.report_url
      = config.message || ""
      %h2 Pendings
      - pendings.sort_by {|x| (Time.now - x[:commit][:at]) * (config.older_first ? -1 : 1) }.each do |pending|
        %section
          - if config.gravatar
            .avatar{style: "float: left; width: 60px; margin-right: 12px;"}
              %img{src: "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(pending[:commit][:email])}.png?s=120", width: 60, height: 60}
          .right{style: "float: left; width: 80%;"}
            %header{style: "width: 100%; background-color: #e9e7e6; border-radius: 5px; margin-top: 0px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;"}
              %h3{style: "font-size: 1.8em; margin-top: 0px; margin-bottom: 15px;"}&= pending[:example][:message]
              .at
                by #{pending[:commit][:name]},
                %span.relative{style: pending[:allowed] ? '' : 'font-weight: bold;'}&= relative_time(pending[:commit][:at])
                = " - "
                %time&= pending[:commit][:at]
            .parent
              %strong In:
              %span.monospace{style: "font-family: 'Inconsolata', 'Monaco', monospace;", style: "font-family: 'Inconsolata', 'Monaco', monospace;"}&= pending[:example][:parent]
            .file
              %strong File:
              - if config.file_url
                %a.monospace{href: config.file_url.gsub(/%file%/, pending[:example][:file]).gsub(/%line%/, pending[:example][:line].to_s), style: "font-family: 'Inconsolata', 'Monaco', monospace;"}&= "#{pending[:example][:file]}:#{pending[:example][:line]}"
              - else
                %span.monospace{style: "font-family: 'Inconsolata', 'Monaco', monospace;"}&= "#{pending[:example][:file]}:#{pending[:example][:line]}"
            .commit
              %strong Commit:
              - if config.commit_url
                %a.monospace{href: config.commit_url.gsub(/%commit%/, pending[:commit][:sha])}&= pending[:commit][:sha]
              - else
                %span.monospace{style: "font-family: 'Inconsolata', 'Monaco', monospace;"}&= pending[:commit][:sha]
              &= " by #{pending[:commit][:name]}"
        .clear{style: "clear: both; height: 28px;"}

